section{
    width:100%;
    height:90vh;
    font-family: Nunito Sans,sans-serif!important;
}

.heading{
    font-family: Nunito Sans,sans-serif!important;
    font-weight: 900;
    font-size:4rem;
    text-align: center;
    background: -webkit-linear-gradient(315deg,purple 32%,#00f);
    background: -moz-linear-gradient(315deg,purple 32%,#00f 100%);
    background: linear-gradient(135deg,purple 32%,#00f);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.aboutGrid{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:0.5rem;
    margin:30px;
    align-items: center;
}

.information{
    text-align: center;
    padding:20px;
    color:rgb(83, 83, 83);
    font-size:1.15rem;
}
p{
    margin-bottom:25px;
    
}

.iconGrid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap:0.5em;
        grid-auto-flow: row;
}
.icon{
    display:flex;
    flex-direction: column;
    align-items: center;
  justify-content: center;
  transition: transform 200ms ease-in;
}
.icon:hover{
    transform:scale(1.20);
}
img{
    height:60px;
    width:60px;
}

span{
    font-size: 1rem;
    text-align:center;
}

h1{
    font-weight: 900;
    display:flex;
    align-items: center;
    justify-content: center;
}


@media screen and (max-width:800px) {
    .aboutGrid{
        grid-template-columns: 1fr;
        margin:20px;
        gap:0.2rem;
    }
}

