@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');
section{
    height:100vh;
}
.home{
    height:auto;
    width:100%;
    display:grid;
    grid-template-columns:1fr 1fr;
    font-family: Nunito Sans,sans-serif!important;
    margin-top: 130px;
}

.intro{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.buttons{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;

}

button{
    margin-right:20px;
    padding:1rem;
    font-weight:bold;
    font-size:1rem;
    margin:1rem;
    border: 2px solid purple;
    background:white;
    color: purple;
    border-radius: 5px;
    transition:background 200ms ease-in, color 200ms ease-in;
  }
 button:hover{
    background:purple;
    color:white;
    cursor:pointer;
  }

.intro{
    font-family: Nunito Sans,sans-serif!important;
    font-weight: 900;
    text-align: center;
    max-width: 700px;
    background: -webkit-linear-gradient(315deg,purple 32%,#00f);
    background: -moz-linear-gradient(315deg,purple 32%,#00f 100%);
    background: linear-gradient(135deg,purple 32%,#00f);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

h1{
    font-size:6rem;
    margin-bottom: 0%;
}

h2{
    font-size: 4rem;
    margin-bottom: 5%;
    margin-top: 30px;
}

h3{
    font-size: 2rem;
}

/*Wave*/
.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    z-index:-1;
}

.wave svg {
    position: relative;
    display: block;
    width: calc(160% + 1.3px);
    height: 244px;
}

.wave .waveFill {
    fill: rgb(187, 4, 187);
}
/*Media Queries*/

@media screen and (max-width:798px){
    .home{
        grid-template-columns:1fr  ;
    }
    .wave{
        display:none;
    }
}
